@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --colorlight: #fff;
  --colorMid: #f3efef;
  --colorDark: #767171;
  
  --colorPrimary: #000;

  --colorSecondary: rgba(110, 231, 191, 0.786);
  --colorSecondaryVariant:  rgb(16, 157, 120);

  --colortertiary: #ac62e8;
  --colortertiaryVariant: #a679ca59;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--colorPrimary);
  background-color: var(--colorDark);
  line-height: 1.7;
}

p {
  font-size: 1rem;
  color: var(--colorDark);
}

.App {
  position: absolute;
  height: auto;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--colorMid);
  box-shadow: 2px 3px 10px var(--colorDark);


}

input[type="search"], input[type="text"] {
  color: #000 !important;
}

@media only screen and (max-width:800px) {

  h3 {
    font-size: 1rem;
    font-weight: 500;
  }

  p { 
    font-size: 11px;
    font-weight: 500;
  }


  .App {
    height: 100vh;
    width: 100vw;

  }
}


@media only screen and (max-width:330px) {

  h3, h4, h5 {
    font-size: 0.8rem;
    font-weight: 300;
  }

  p { 
    font-size: 9px !important;
    font-weight: 300;
  }

  .App {
    height: 100vh;
    width: 100vw;

  }

}

