nav {
    display: flex;
    flex-direction: column;
    


}
.nav {
    display: flex;
    align-items: center;
    margin: 20px 15px 0px;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: var(--colorlight);
    gap: 15px;

    &__logo {
        
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: var(--colorSecondary);
        display: flex;
        justify-content: center;
        align-items: center;
        color:  var(--colorSecondaryVariant);
        font-size: 27px;
    }

    &__wrapper {
        text-align: start;
    }

    &__icon {
        color: var(--colorDark);
    }
}

@media only screen and (max-width:700px) {
    
    .nav {
        padding: 10px 20px;
    
        &__wrapper {
            min-width: 220px;
        }
    }

  }

@media only screen and (max-width:340px) {
    
    .nav {
        padding: 5px 10px;
    
        &__wrapper {
            min-width: 220px;
        }

        &__logo {
            height: 35px;
            width: 35px;
            padding: 5px;
            font-size: 17px;
        }
    }

  }

